<div class="panel panel-default">
  <!-- <div class="panel-heading">
      <div class="row">
      <div class="col-xs-6">
        <h1 class="pull-left">Contacts</h1>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-success btn-lg pull-right" style="margin-top: 10px;" [routerLink]="['new']">New Contact</button>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row title-row">
            <h3 class="title pad-left-right">Contacts</h3>
          </div>
          <div class="row search-row">
            <div class="input-group pull-left pad-left-right col-xs-7">
              <input
              class="from-control pull-left"
              type="text"
              (keyup)="search(searchBox.value)"
              placeholder="Enter a search value"
              #searchBox>
              <div class="glyphicon glyphicon-search input-group-addon pull-left" (click)="search(searchBox.value)"></div>
            </div>
            <div class="pull-right pad-left-right">
              <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
          <cms-contact-item
          class="list-group-item clearfix"
          *ngFor="let contact of contacts | contactsFilter: term"
          [contactItem]="contact"
          dnd-draggable [dragEnabled]="true" [dragData]="contact" [dropZones]="['contactGroup']"></cms-contact-item>
      </div>
    </div>
  </div>
</div>
