<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <h1>{{ contact.name }}</h1>
      </div>
    </div>
    <div class="row panel-body">
      <div class="col-xs-6">
        <img src="{{ contact.imageUrl }}" alt="" class="img-responsive">
      </div>
      <div class="btn-group pull-right" style="margin: 50px auto;">
        <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        style="margin:0 5px;">
        Edit
        </button>
        <button
          type="button"
          class="btn btn-danger dropdown-toggle">
          Delete
        </button>
        <!-- <ul class="dropdown-menu">
          <li><a href="#">Edit</a></li>
          <li><a href="#">Delete</a></li>
        </ul> -->
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row panel">
      <div class="col-xs-12">
        <h4>Email: {{ contact.email }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4>Phone: {{ contact.phone }}</h4>
      </div>
    </div>
  </div>
</div>
